<div class = "email-form">
  <h1><u>Contact Us</u></h1>


  <form class = "ui form" method="POST" action="https://formspree.io/pintochristian2@gmail.com">
    <label for="email">Email</label>
  <input type="email" name="email" placeholder="Your email">
  <label for="message">Message</label>
  <textarea name="message" placeholder="Test Message"></textarea>
  <button class="ui yellow massive button" type="submit">Send</button>
</form>
</div>
