<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/assets/users.css">

<!-- <h1>Welcome to my home page!</h1>
 -->
 <body>
   <div class="ui grid">
     <div class= "ui menu three column row">
       <div class="column"></div>
       <div class="header item column">
         <img src ="/assets/circle.jpg">
        </div>
      <div class="ui compact menu right">
      <div class="ui simple dropdown item">
        Menu
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <%=link_to "Login", "users/login"%>
          </div>
          <div class="item">
            <%=link_to "Sign Up", new_user_path%>
          </div>
          <div class="item">Contact Us</div>
        </div>
      </div>
    </div>
     </div>
   </div>
<div class = "logo">
<img class = "logopic" src= "/assets/circle.jpg">
</div>

<div class="quote">
    Sign up! It's fast and easy! Get started in just minutes!
</div>
</body>
