<h1>Welcome <%=@user.name%>!</h1>
  <div class="left_table">
    <h1><u>User Options</u></h1>
    <div class="ui secondary vertical menu">
  <a class="item">
    Account
  </a>
  <a class="item">
    Settings
  </a>
  <a href="/songs" class="item">
    Song Database
  </a>
</div>
  </div>
  <div class="right_table">
    <h1><u>List of all songs in your playlist</u></h1>

    <div class = "song">
      <%song = @user.songs.select do |s|%>
      <%  s.id %>
      <% end %>

      <%song.map do |song|%>
      <%= song.title%>
      <button class = "ui mini red button">Remove song</button>
      <br>
      <%end%>
    </div>
  </div>
