  <div class="right_table">
    <h1><u>List of all songs in your playlist</u></h1>

    <div class = "song">
      <%song = @user.playlist.songs.map do |s|%>
      <%  s.id %>
      <% end %>

      <%song.map do |song|%>
      <%= Song.find(song).title%>
      <div class="play"><a href= "<%=Song.find(song).url%>" target="_blank"><button class = "ui green large button" type="button" name="button">Play Song</button></a></div>
      <div class = "remove_button"><%=button_to "Remove Song", "/dashboard" , :method=>:post , params: {:song_id => song}, class: "ui red large button"%></div>
      <br>
      <%end%>
    </div>
  </div>
