html{
  height: 100% !important;
}
.bodyOfForm{
  width: 100%;
  height: 100%;
  background-color: #00008b;
  margin-bottom: 0 !important;
}

.login{
  padding-top: 2% !important;
  text-align: center;
}

.form{
  height: 50%;
}

label{
  font-size: 20px !important;
  color: #FFD700;
}
